$bgc: rgba(214, 201, 228, 30%);
$shadow: gray;
$width: 550px;
$height: 660px;
$br: 4px;
$padding: 40px;
$tab-font-size: 25px;
$tab-color: white;
$tab-bgc-default: rgb(204, 199, 199);
$tab-bgc-hover: rgba(174, 106, 234, 1);
$tab-bgc-selected: rgba(175, 106, 234, 0.75);
$height-input-group: 440px;
$fade-time: 300;
$before: rgba(255, 0, 0, 50%);
$before-hover: rgba(255, 0, 0, 70%);
$after: rgba(0, 255, 0, 50%);
$after-hover: rgba(0, 255, 0, 70%);

.loginPage-form {
  box-sizing: border-box;
  box-shadow: 0 4px 10px 4px rgba($shadow, 0.3);
  background-color: #{$bgc};
  width: #{$width};
  height: #{$height};
  border-radius: #{$br};
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: #{$padding};

  .tab-group {
    width: 100%;
    height: 50px;
    display: flex;
    color: $tab-color;
    font-size: #{$tab-font-size};

    .tab {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 300ms ease-in-out;
      background-color: #{$tab-bgc-default};
      cursor: pointer;

      &:hover {
        background-color: #{$tab-bgc-hover};
      }

      &-selected {
        @extend .tab;
        background-color: #{$tab-bgc-selected};
      }
    }
  }

  .input-group {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: #{$height-input-group};

    .input-text {
      // 추후 수정
      height: 20px;

      &-green {
        color: green;
      }

      &-red {
        color: red;
      }
    }

    .input-wrapper {
      display: flex;
      flex-direction: row;

      .input-item {
        height: 50px;
        border: 2px solid #{$shadow};
        font-size: 25px;
        outline: none;

        &:focus {
          border: 2px solid #{$tab-bgc-hover};
        }

        &:hover:not(:focus) {
          border: 2px solid #{$tab-bgc-selected};
        }
      }

      .input-item-btn-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;

        @mixin input-item-btn($action-color) {
          height: 100%;
          width: 70%;
          font-size: 18px;
          border-radius: 5px;
          transition: background-color 300ms ease-in-out;
          cursor: pointer;
          background-color: $action-color;
        }

        .input-item-btn {
          &-before {
            @include input-item-btn($action-color: #{$before});
            &:hover {
              background-color: #{$before-hover};
            }
          }
          &-after {
            @include input-item-btn($action-color: #{$after});
            &:hover {
              background-color: #{$after-hover};
            }
          }
        }
      }
    }
  }

  .fade {
    &-appear {
      opacity: 0;
    }
    &-appear-active {
      opacity: 1;
      transition: all #{$fade-time}ms ease-in;
    }
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 1;
      transition: all #{$fade-time}ms ease-in;
    }
    &-enter-done {
      opacity: 1;
    }
    &-exit {
      opacity: 0;
    }
    &-exit-active {
      opacity: 1;
      transition: all #{$fade-time}ms ease-in;
    }
    &-exit-done {
      opacity: 1;
    }
  }
}
