.mypage_main{
  margin: 40px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  .mypage_info{
    margin: 20px;
    display: flex;
    align-items: center;
    .user_img{
      width: 160px;
      height: 160px;
      border: 1px solid black;
      border-radius: 50%;
    }
    .user_info {
      margin: 20px;
      .user_id {
        font-weight: 700;
        font-size: 3rem;
      }
      .user_nickname {
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
  }
  .mypage_content {
    margin: 20px;
    display: flex;
    align-items: center;
    li {
      list-style-type: none;
      border: 1px solid black;
      border-top-right-radius: 0.4rem;
      border-top-left-radius: 0.4rem;
      padding: 6px;
      cursor: pointer;
    }
    .selected{
      font-weight: 700;
      font-size: 1.1rem;
      cursor: default;
    }
  }
}