$mainColor-weak: rgba(175, 106, 234, 0.5);
$mainColor-default: rgba(175, 106, 234, 0.75);
$mainColor-strong: rgba(175, 106, 234, 1);
$proc1-fs: 2.5rem;

.recommend {
  .top {
    box-sizing: border-box;
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    box-sizing: border-box;
    width: 100vw;
    height: 550px;
    display: flex;

    .left {
      box-sizing: border-box;
      width: 80%;
      height: 100%;
      padding: 5px;

      .wrapper {
        box-sizing: border-box;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        border: 3.5px solid #{$mainColor-default};

        .process {
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          padding: 5px;

          // proc1_1
          .proc1_1 {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .text {
              font-size: #{$proc1-fs};
              font-weight: 500;
              display: flex;
              justify-content: center;
            }

            .btn-group {
              display: flex;
              justify-content: space-evenly;
              align-items: center;

              .btn-item {
                width: 120px;
                font-size: #{$proc1-fs};
                cursor: pointer;
                transition: all 200ms ease-in-out;
                border-radius: 5px;
                display: flex;
                justify-content: center;

                &:hover {
                  background-color: #{$mainColor-weak};
                  color: white;
                }
              }
            }
          }

          // proc1_2
          .proc1_2 {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .card-container {
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              flex-wrap: wrap;

              .card {
                width: 200px;
                height: 200px;
                perspective: 1000px;
                position: relative;
                margin: 10px 5px;
                cursor: pointer;

                &:hover .card-front {

                  transform: rotateY(180deg);
                  opacity: 0;
                }

                &:hover .card-back {
                  transform: rotateY(0deg);
                  opacity: 1;
                }

                .card-front,
                .card-back {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  font-size: 18px;
                  transition: all 500ms ease-in-out;
                  backface-visibility: hidden;
                  border-radius: 5px;
                }

                .card-front {
                  border: 1px solid gray;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                }

                .card-back {
                  background-color: #{$mainColor-default};
                  transform: rotateY(180deg);
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }

    .right {
      box-sizing: border-box;
      width: 30%;
      height: 100%;
      padding: 5px;
      border: 1px dashed black;

      .tab-group {
        width: 100%;
        height: 100%;

        .tab-item-before {
          width: 100%;
          height: 10%;
        }

        .tab-item {
          width: 100%;
          height: 20%;
        }
      }
    }
  }

  .progressBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 800px;
    width: 100%;

    .steps {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        color: #999;
        font-size: 22px;
        font-weight: 500;
        border-radius: 50%;
        background: #fff;
        border: 4px solid #e0e0e0;
        transition: all 200ms ease;
        transition-delay: 0s;
      }

      .circle.active {
        transition-delay: 100ms;
        border-color: #{$mainColor-default};
        color: #{$mainColor-default};
      }

      .progress-bar {
        position: absolute;
        height: 4px;
        width: 100%;
        background: #e0e0e0;
        z-index: -1;

        .indicator {
          position: absolute;
          height: 100%;
          width: 0%; // 이 변수를 통해서 가로바의 길이를 정한다.
          background: #{$mainColor-weak};
          transition: all 300ms ease;
        }
      }
    }
  }
}
